@{
    ViewBag.Title = "Roster";
}

<h2>Roster</h2>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>Last Name</td>
                    <td>First Name</td>
                </tr>
            </thead>
            <tbody data-bind="foreach: allAthletes">
                <tr>
                    <td>
                        <a data-bind="attr: {href: athleteLink}, text: lastName">
                        </a>
                    </td>
                    <td data-bind="text: firstName" />
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/KnockoutViewModels/RosterDetailViewModel.js"></script>

    <script type="text/javascript">
        $(function () {
            var viewModel = ko.mapping.fromJS(@Html.Raw(Model));
            ko.applyBindings(viewModel);
        });
    </script>
}
