
@{
    ViewBag.Title = "Core Skills";
}

<h2>Core Skills</h2>

<div class="row">
    <div class="col-sm-12">
        <ul class="skill-bar" data-bind="foreach: skills">
            <li>
                <h5 data-bind="text: name"></h5>
                <div class="meter">
                    <span data-bind="css: {darkGreen: progress == 100, green: progress < 100 & progress > 75, blue: progress <= 75 & progress > 50, lightOrange: progress < 50, red: progress < 25 }, style: { width: progress + '%' }, text: progress"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

@section scripts
{
    <script src="~/KnockoutViewModels/SkillViewModel.js"></script>
}
