
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tbody data-bind="foreach: skills">
    <tr>
        <td data-bind="text: name"/>
        <td data-bind="text: progress"/>
    </tr>
    </tbody>
</table>

@section scripts
{
    <script src="~/KnockoutViewModels/SkillViewModel.js"></script>
}
