@{
    ViewBag.Title = "Skill Detail";
}

<div class="row">
    <div class="col-sm-12">
        <h2 data-bind="text: athleteFirstName() + ' ' + athleteLastName() + 's ' + skillName()"></h2>
        <ul class="skill-bar">
            <li>
                <div class="meter">
                    <span data-bind="css: {darkGreen: skillProgress() == 100, green: skillProgress() < 100 & skillProgress() > 75, blue: skillProgress() <= 75 & skillProgress() > 50, lightOrange: skillProgress() <= 50 & skillProgress() > 25, red: skillProgress() < 25 }, style: { width: skillProgress() + '%' }, text: skillProgress() + '%'"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ul class="skill-bar" data-bind="foreach: allFitnessTests">
            <li>
                <div class="row">
                    <div class="col-md-2">
                        <input type="checkbox" data-bind="checkedValue: completed, checked: completed, click: function(data, event) {return $parent.onCheckBoxClick($index, data, event)}">
                        <label>
                            <span data-bind="text: name"></span>
                        </label>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-success btn-xs btn-show">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <span data-bind="text: description"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

@section Scripts
{
    
    <script src="~/Scripts/lifts.js"></script>
    <script src="~/KnockoutViewModels/FitnessTestListViewModel.js"></script>
    <script>
        load(@Html.Raw(Model));
    </script>
}