@{
    ViewBag.Title = "Core Skills";
}

<h2 data-bind="text: athleteFirstName() + ' ' + athleteLastName() + 's Core Skills'"></h2>

<div class="row">
    <div class="col-sm-12">
        <ul class="skill-bar" data-bind="foreach: allSkills">
            <li>
                <a data-bind="attr: {href: skillDetailLink}">
                    <h5 data-bind="text: name"></h5>
                </a>
                <div class="meter">
                    <span data-bind="css: {darkGreen: progress() == 100, green: progress() < 100 & progress() > 75, blue: progress() <= 75 & progress() > 50, lightOrange: progress() <= 50 & progress() > 25, red: progress() < 25 }, style: { width: progress() + '%' }, text: progress() + '%'"></span>
                </div>
            </li>
        </ul>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            var viewModel = ko.mapping.fromJS(@Html.Raw(Model));
            ko.applyBindings(viewModel);
        });
    </script>
}
